<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- General -->
	<type name="Magento\Framework\Validator\AbstractValidator">
		<plugin name="adfab_gdpr_validator" type="Adfab\Gdpr\Model\ValidatorPlugin" />
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter">
		<plugin name="adfab_gdpr_fulltext_filter" type="Adfab\Gdpr\Model\FulltextFilterPlugin" />
	</type>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="gdpr_crypt" xsi:type="object">Adfab\Gdpr\Console\Command\Crypt</item>
				<item name="gdpr_cryptstring" xsi:type="object">Adfab\Gdpr\Console\Command\CryptString</item>
				<item name="gdpr_decryptstring" xsi:type="object">Adfab\Gdpr\Console\Command\DecryptString</item>
			</argument>
		</arguments>
	</type>
	<!-- Customer -->
	<type name="Magento\Customer\Model\Customer">
		<plugin name="adfab_gdpr_customer" type="Adfab\Gdpr\Model\CustomerPlugin" />
	</type>
	<type name="Magento\Customer\Model\ResourceModel\Customer">
		<plugin name="adfab_gdpr_resource_customer" type="Adfab\Gdpr\Model\ResourceModel\ResourcePlugin" />
	</type>
	<type name="Magento\Customer\Model\ResourceModel\Address">
		<plugin name="adfab_gdpr_resource_customer_address" type="Adfab\Gdpr\Model\ResourceModel\ResourcePlugin" />
	</type>
	<type name="Magento\Customer\Model\ResourceModel\Customer\Collection">
		<plugin name="adfab_gdpr_resource_customer_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Customer\Model\ResourceModel\Grid\Collection">
		<plugin name="adfab_gdpr_resource_customer_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Customer\Model\ResourceModel\Online\Grid\Collection">
		<plugin name="adfab_gdpr_resource_customer_online_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Customer\Model\ResourceModel\Address\Collection">
		<plugin name="adfab_gdpr_resource_customer_address_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<!-- Quote -->
	<type name="Magento\Quote\Model\ResourceModel\Quote">
		<plugin name="adfab_gdpr_resource_quote" type="Adfab\Gdpr\Model\ResourceModel\ResourcePlugin" />
	</type>
	<type name="Magento\Quote\Model\ResourceModel\Quote\Address">
		<plugin name="adfab_gdpr_resource_quote_address" type="Adfab\Gdpr\Model\ResourceModel\ResourcePlugin" />
	</type>
	<type name="Magento\Quote\Model\ResourceModel\Quote\Collection">
		<plugin name="adfab_gdpr_resource_quote_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Quote\Model\ResourceModel\Quote\Address\Collection">
		<plugin name="adfab_gdpr_resource_quote_address_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<!-- Order -->
	<type name="Magento\Sales\Model\ResourceModel\Order">
		<plugin name="adfab_gdpr_resource_order" type="Adfab\Gdpr\Model\ResourceModel\ResourcePlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Address">
		<plugin name="adfab_gdpr_resource_order_address" type="Adfab\Gdpr\Model\ResourceModel\ResourcePlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Collection">
		<plugin name="adfab_gdpr_resource_order_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Address\Collection">
		<plugin name="adfab_gdpr_resource_order_address_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\Order\Address\Validator">
		<plugin name="adfab_gdpr_order_address_validator" type="Adfab\Gdpr\Model\ValidatorPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Customer\Collection">
		<plugin name="adfab_gdpr_resource_order_customer_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_invoice_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_shipment_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_creditmemo_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Invoice\Orders\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_invoice_orders_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Order\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_shipment_order_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo\Order\Grid\Collection">
		<plugin name="adfab_gdpr_resource_order_creditmemo_order_grid_collection" type="Adfab\Gdpr\Model\ResourceModel\CollectionPlugin" />
	</type>
	<!-- Review -->
	<type name="Magento\Review\Model\Review">
		<plugin name="adfab_gdpr_review" type="Adfab\Gdpr\Model\ReviewPlugin" />
	</type>
</config>
